.task-actions {
  background-color: #add8e6;
  padding: 10px;
}

.font-weight-bold {
  font-weight: bold;
}

.content-container {
  padding: 50px 20px;
}

.footer-container {
  padding: 20px;
}
.footer-container div {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.add-task-container {
  background-color: #d2d2cd;
  padding: 20px;
}

.delete-text {
  text-decoration: line-through;
}

.no-tasks {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
  color: #ff3600;
}

.task-label {
  font-size: 22px;
}

input:checked[type='checkbox'].task-checkbox {
  border: transparent;
}
.task-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid;
  cursor: pointer;
}

.right-side-link {
  gap: 10px;
}

.right-side-link .nav-link {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-side-link .nav-link .link-description {
  font-size: 12px;
}

.nav-link:hover,
.nav-link:focus {
  color: #002050;
}

.navbar-dark .navbar-text {
  color: #fff;
}

.header-navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.task-important {
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
}

.task-lists {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.task-detail {
  display: flex;
  gap: 5px;
}

.task-detail .btn-group .btn {
  padding-bottom: 10px;
}

.td-col-1 {
  flex: 1;
  align-self: center;
  text-align: right;
  padding: 10px;
}

.td-col-2 {
  flex: 2;
  text-align: left;
  padding: 10px;
}

.td-col-3 {
  flex: 1;
  text-align: left;
  padding: 10px;
}
